*.log
*.cache
*.aux
*.fls
*.fdb_latexmk
*.out
*.synctex
*.synctex(busy)
*.gz
*.toc
LaTeXML.css
ltx-article.css
test.py
test.html
pghrt.pdf
contacts.txt
*.DS_Store
/venv/
/export/index.html
/export/img/